.registerUser-up{
    height: 250px;
}

.registerUser-down{
    height: 250px;
}


.container_registeruser {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  

  .col-md-6 {
    padding-right: 30px;
  }
  

  .conditions-container {
    padding-left: 30px;
    border-left: 2px solid #ccc;
  }
  

  .conditions-container h5 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .conditions-container p {
    font-size: 1rem;
    color: #555;
  }
  
  .conditions-container a {
    color: #007bff;
    text-decoration: none;
  }
  
  .conditions-container a:hover {
    text-decoration: underline;
  }
  
  .input-group-text {
    cursor: pointer;
    padding: 0.5rem;
    background-color: #1d1c1c;
  }
  .h2_registerUSer{
    visibility: visible !important;
    margin-top: 20px;
    margin-bottom: 15px;
   color: #1d1c1c;
  }
  .email_space{
    margin-top: 30px;
  }