
.product-description {
    margin-top: 20px;
  }
  
  
  .product-description .description-box {
    background-color: #d3d3d3b9; 
    width: 1000px; 
    height: 200px; 
    padding: 20px;
    box-sizing: border-box; 
    border-radius: 10px; 
    overflow: hidden; 
  }
  
 
  .product-description .description-box p {
    margin: 0;
    color: #333;
    font-size: 16px; 
    line-height: 1.5; 
  }
  