.manga-space-up {
    height: 100px;
  }
  
  .manga-space-down {
    height: 30px;
  }
  
  .product-image-container {
    margin-bottom: 50px;
  }
  
  .product-image_details {
    max-width: 800px;
    max-height: 500px;
    margin-right: 50px;
  }
  
  .product-details {
    padding-left: 15px;
  }
  
  .text-red {
    color: red;
  }
  
  .add-to-cart-button {
    padding: 10px 20px;
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
  }
  .span {
    color: #ff5722;
  }
  .details-space{
    height: 100px;
  }